@import '../shared/variables';

$buttonIconWidth: 50px;
$primaryButtonIconWidth: 70px;
$xlargeButtonMaxWidth: 400px;
$xlargeButtonIconWidth: 100px;

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  background-color: transparent;
  color: $whiteColor;
  border: 1px solid $whiteColor;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}

.btn ~ .btn {
  margin-left: 10px;
}

.btn-small {
  padding: 5px 0;
  font-size: 12px;
}

.btn-small ~ .btn-small {
  margin-left: 5px;
}

.btn:hover {
  background-color: $whiteColor;
  color: $primaryBackgroundColor;
}

.btn-icon-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $buttonIconWidth;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-content-container {
  width: 70%;
  margin-left: $buttonIconWidth;
  padding-right: 10px;

}

.btn-no-icon .btn-content-container {
  width: 100%;
  margin-left: 0;
  padding-left: 10px;
}

.btn-small {
  .btn-icon-container {
    width: 20px;
  }

  .btn-content-container {
    padding-right: 5px;
    margin-left: 20px;
  }


  .btn-no-icon .btn-content-container {
    padding-left: 5px;
  }
}

.btn-primary {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 20px 0;

  .btn-content-container {
    font-size: 20px;
    margin-left: $primaryButtonIconWidth;
  }

  .btn-icon-container {
    font-size: 30px;
    width: $primaryButtonIconWidth;
  }
}

.btn-xlarge {
  width: 100%;
  max-width: $xlargeButtonMaxWidth;
  font-size: 20px;
  padding: 40px 0;

  .btn-icon-container {
    font-size: 40px;
    width: $xlargeButtonIconWidth;
  }

  .btn-content-container {
    margin-left: $xlargeButtonIconWidth;
    text-transform: uppercase;
    font-weight: bold;
  }
}
