@import '../shared/variables';
@import './Button.scss';

.home {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-actions {
  margin-top: 40px;
}

.home-title {
  font-family: sans-serif;
  margin-bottom: 40px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: $accentColor;
}

.home-explanation {
  max-width: $xlargeButtonMaxWidth;
  line-height: 24px;
  font-size: 18px;
}
