$headerHeight: 100px;

.layout-container {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  height: $headerHeight;
  padding-left: 40px;
  align-items: center;
}

.content-container {
  /* variable interpolation in calc apparently doesn't work, but this is $headerHeight */
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}
