$headerHeight: 100px;

.layout-container {
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  height: $headerHeight;
  padding: 20px 40px;
}

.content-container {
  /* variable interpolation in calc apparently doesn't work, but this is $headerHeight */
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
}

.app-title {
  text-align: center;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  font-family: "Courier New", monospace;
  font-size: 20px;
  text-transform: lowercase;
  pointer-events: none;
}
