@import '~app/shared/variables';

.recover-explanation {
  padding: 20px;
  line-height: 30px;
  font-size: 20px;
}

.entered-shares {
  font-size: 20px;
  margin-bottom: 20px;
}

.recover {
  justify-content: center;
}

.recover-action {
  margin-bottom: 40px;
}

.recover-error-message {
  color: $dangerColor;
}

.reset-action p {
  margin-bottom: 20px;
}
