@import '../shared/variables';

.recover-row {
  padding: 10px 0;

  &.incomplete {
    color: $borderColor;
  }

  &.success {
    color: $accentColor;
  }

  &.error {
    color: $dangerColor;
  }

  .fa-close {
    cursor: pointer;
    color: lighten($dangerColor, 10%);
    opacity: 0;
  }

  .fa-close:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  &:hover .fa-close {
    opacity: 1;
  }
}
