@import '../shared/variables';

.share-progress-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  min-height: 40px;

  &.incomplete {
    font-style: italic;
    color: darken($borderColor, 10%);
    opacity: 0.5;
  }

  &.current {
    font-style: italic;
    color: $borderColor;
  }

  &.error:hover {
    .fa-puzzle-piece {
      visibility: hidden;
    }

    .fa-close {
      visibility: visible;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
}

.progress-icon {
  font-size: 40px;
  margin-right: 20px;
  transition: all 0.5s linear;
  position: relative;

  &.incomplete {
    color: $borderColor;
  }

  &.success {
    color: $accentColor;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  &.error {
    color: $dangerColor;
  }

  &.current {
    color: $borderColor;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .fa-close {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 0;
    transition: text-shadow .1s ease-out;
    cursor: pointer;
  }
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
