@import '../shared/variables';

.secret-entry-mode-select-container {
  margin-bottom: 20px;
  flex: 0 0 auto;

  select {
    background: $whiteColor;
    outline-color: $lightBlue;
    border: 1px solid $lightBlue;
  }
}

.secret-entry-input-container {
  flex: 1 1 auto;
}

.secret-entry-input {
  flex: 1 1 auto;
  background-color: $whiteColor;
  color: $dangerColor;
  padding: 10px;
  outline-color: $lightBlue;
  border: 1px solid $lightBlue;
}
