@import '../shared/variables';

.secret-entry-mode-select-container {
  margin-bottom: 20px;
  flex: 0 0 auto;
}

.secret-entry-input-container {
  flex: 1 1 auto;
}

.field-container.secret-entry-input-container {
  margin-bottom: 0;

  textarea {
    margin-bottom: 10px;
  }
}

.secret-entry-input {
  flex: 1 1 auto;
}

.secret-entry {
  padding: 0 20px;
}
