@import '../shared/variables';

.split-container {
  margin-top: 10px;

  .panel {
    margin-bottom: 40px;
  }

  .split-options-panel {
    flex-grow: 0;
  }
}

.split-button-container {
  justify-content: center;
}

.split-status-message {
  line-height: 20px;
  height: 20px;

  strong {
    color: lighten($accentColor, 10%);
  }
}

.split-options-panel {
  padding: 20px;
}
