$navy: #222c3c;
$red: #b04340;
$gray: #313D4F;
$blueGray: #273142;
$lightBlue: #2DA1F8;
$green: rgb(65, 144, 75);
$purple: #231941;


$primaryBackgroundColor: $navy;
$dangerColor: $red;
$whiteColor: #fff;
$borderColor: $gray;
$accentColor: $lightBlue;
$secondaryBorderColor: $blueGray;
$successColor: $green;


$sansSerif: "Arial", sans-serif;
