.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 0;
  flex: 1 1 auto;
}

.flex-column {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  margin-bottom: 10px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.hidden {
  display: none;
}

.full-width {
  width: 100%;
}

.overlay {
  background-color: rgba(22, 22, 22, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.accent {
  color: $accentColor;
}

.danger {
  color: $dangerColor;
}
