textarea {
  background-color: $whiteColor;
  padding: 10px;
  outline: none;
  border: 1px solid $lightBlue;
  border-radius: 3px;
}

input,
select {
  background: $whiteColor;
  outline: none;
  border: 1px solid $lightBlue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
