$navy: #34414f;
$red: #b04340;
$gray: #b0aba6;
$blueGray: #616e7d;
$cream: #fef4e5;
$lightBlue: #84b3c4;
$green: rgb(65, 144, 75);


$primaryBackgroundColor: $navy;
$dangerColor: $red;
$whiteColor: $cream;
$borderColor: $gray;
$accentColor: $lightBlue;
$secondaryBorderColor: $blueGray;
$successColor: $green;


$sansSerif: "Arial", sans-serif;
