@import '../shared/variables';

.export {
  justify-content: space-around;
}

.success-container {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

.success-icon-container {
  position: relative;
  display: inline-block;
  font-size: 72px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  fill: $navy;
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  background-color: $successColor;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 1);
  padding: 10px;
  border-radius: 4px;
  flex: 0 0 150px;
}

.success-message {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: $whiteColor;
}

.export-explanation {
  padding-left: 20px;
  font-size: 18px;
  line-height: 22px;

  strong {
    font-size: 22px;
  }

  p:not(:last-child) {
    margin-bottom: 10px;
  }

  p {
    font-family: $sansSerif;
  }
}

.actions-row {
  justify-content: center;
  flex: 1 1 50%;
}

.dash-separator {
  width: 30%;
  margin: auto;
  height: 0;
  padding: 0;
  border-bottom: 1px dashed $borderColor;
}

.button-subtitle {
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
}

.veracrypt-row {
  align-items: center;
  justify-content: flex-end;

  .info {
    padding: 10px;
    color: darken($whiteColor, 40%);
  }
}

.secret-view {
  color: $dangerColor;
  border-color: $dangerColor;
  flex: 1 1 auto;
}
