@import '../shared/variables';

$errorHeight: 18px;

.field-container {
  margin-bottom: 10px;
  padding-bottom: $errorHeight;

  &.has-error {
    padding-bottom: 0;
  }
}

.has-error {
  textarea,
  input {
    border: 1px solid $dangerColor;
    color: $dangerColor;
  }

  .error-label {
    color: lighten($dangerColor, 20%);
    line-height: $errorHeight;
  }
}
