@import '../shared/variables';
@import './Button.scss';

.home {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blueGray;
}

.home-actions {
  margin-bottom: 20px;

  .btn ~ .btn {
    margin-left: 0;
  }

  i {
    color: $accentColor;
  }

  .btn:hover i {
    color: $primaryBackgroundColor;
  }

  .btn:hover path {
    fill: $primaryBackgroundColor;
  }
}

.home-title {
  font-family: "Courier New", monospace;
  font-size: 50px;
  margin-bottom: 60px;
  text-transform: lowercase;
}

.home-explanation {
  text-align: center;
  max-width: $xlargeButtonMaxWidth;
  line-height: 28px;
  font-size: 18px;
  color: $whiteColor;
}
