@import '../shared/variables';

.icon {
  display: inline-block;
  width: 100%;
  height: auto;

  path {
    shape-rendering: geometricPrecision;
  }
}

.icon.recover-icon {
  path {
    fill: #FFD719
  }
}

.icon.spin path:nth-child(3n){
  fill: $accentColor;
}

.icon.spin #keyhole {
  animation: spin 2s infinite;
  transform-origin: 50% 50%;
}


@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
