@import '~src/shared/variables';

$headerHeight: 100px;
$navHeight: 40px;

.layout-container {
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  height: $headerHeight;
  padding: 20px 40px;
}

.icon-container {
  max-width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.app-title {
  font-size: 25px;
  vertical-align: middle;
  pointer-events: none;
}

.app-title-separator {
  font-size: 25px;
  vertical-align: middle;
  color: $lightGray;
  padding: 0 15px;
}

.app-sub-title {
  color: $lightGray;
  font-size: 18px;
  vertical-align: middle;
}

.layout-nav {
  padding: 0 40px;
  line-height: $navHeight;
  background-color: $gray;
}

.content-container {
  /* variable interpolation in calc apparently doesn't work, but this is $headerHeight + navHeight */
  height: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
}
