@import '../shared/variables';

.secret-entry-mode-select-container {
  margin-bottom: 20px;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
}

.secret-entry-input-container {
  flex: 1 1 auto;
}

.field-container.secret-entry-input-container {
  margin-bottom: 0;

  textarea {
    margin-bottom: 10px;
  }
}

.secret-entry-input {
  flex: 1 1 auto;
  -webkit-text-security: disc;
}

.secret-entry-input.revealed {
  -webkit-text-security: none;
}

.secret-entry {
  padding: 0 20px;
}

.reveal-options {
  font-size: 14px;
}
