.panel.share-input {
  flex: 0 0 auto;

  .panel-contents {
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-around;
  }
}

.share-input {
  .field-container {
    padding-bottom: 0;
  }

  .error-label {
    display: none;
  }
}
