@import '../shared/variables';

.share-row {
  display: flex;
  justify-content: space-between;
  background-color: lighten($blueGray, 50%);
  color: $primaryBackgroundColor;
  padding: 0 20px;
  z-index: 0;

  textarea {
    border-color: $dangerColor;
    color: $dangerColor;
  }

  .share-actions .btn {
    color: $primaryBackgroundColor;
    border-color: $primaryBackgroundColor;

    &:hover {
      color: $whiteColor;
      background-color: $primaryBackgroundColor;
    }
  }
}

.share-row:nth-child(odd) {
  background-color: $whiteColor;
}

.share-value {
  font-weight: bold;
}

.share-cell {
  display: flex;
  align-items: center;
  flex: 1 1 50%;
}

.share-actions {
  justify-content: flex-end;
}

.share-status {
  margin-left: 10px;
  font-size: 12px;
  color: $green;

  &.error {
    color: $red;
  }
}
